/*
Put here your own style
*/



#beta {
	
	position: absolute;
	right: -65px;
	top: 5px;
	color: white;
	font-size: 120%;
	font-weight: bold;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	background: red;
	padding: 50px 50px 5px 50px;
	z-index: -10;
	
	
}