/BeansContext.properties
/EtiquetasAfroditaTest_es.properties
/GalleryImage.hbm.xml
/LoginContextFactory.properties
/META-INF/
/MensajesAfroditaTest_es.properties
/aplicacion.xml
/controladores.xml
/dtds/
/editores.xml
/fusioncharts/
/hibernate.cfg.xml
/jndi-jboss.properties
/jndi-websphere.properties
/jndi.properties
/logging.properties
/naviox-users.properties
/naviox.properties
/test/
/xava-junit.properties
/xava.properties
